html,body{
	width:100%;
	height:100%;
	overflow: hidden;
}
html{
	font-size:100px;
}

.main, .swiper-container, .swiper_container .swiper-slide{
	width:100%;
	height:100%;
	overflow: hidden;	
}
.page1{
	background: url(../images/11.jpg) no-repeat;
	background-size:cover;
}
.page2{
	background: url(../images/2.jpg) no-repeat;
	background-size:cover;
}
.page3{
	background: url(../images/2.jpg) no-repeat;
	background-size:cover;
}
.page4{
	background: url(../images/2.jpg) no-repeat;
	background-size:cover;
}
.page5{
	background: url(../images/2.jpg) no-repeat;
	background-size:cover;
}

@keyframes logo_rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
.music_on{
	animation:logo_rotate 2s linear 0s infinite;
}
#music_logo{
	position: absolute;
	right:0.3rem;
	top: 0.3rem;
	z-index: 10;
	width: 0.7rem;
	display: none;
}

/*编写第一屏样式*/

#title h1{
	font-size: 1rem;
	font-family: "微软雅黑";
	font-weight: normal;
	text-align: center;
	color: #eee;
	margin-top: 1.5rem;
	margin-bottom: 0.3rem;
	opacity: 0;
}
#title p{
	font-size:0.5rem;
	text-align: center;
	width: 3rem;
	border-radius: 0.5rem;
	margin:0 auto;
	color:#222;
	font-weight:normal;
	background: orange;
	opacity: 0;
}

#head_wrapper{
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 3rem;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -1.75rem;
	top:4rem;
	opacity: 0;
}
#head_wrapper img{
	width: 3.5rem;
}
#motto {
	font-family:'Comic Sans MS', cursive;
	font-size: 0.35rem;
	font-style: italic;
	color:#fff;
	position: absolute;
	width: 100%;
	bottom: 2rem;
	opacity: 0;
}
#motto p:first-of-type{
	text-align: center;
}
#motto p:last-of-type{
	text-align: right;
}
/*第一屏动画*/


.page1 #title h1{
	animation-name: bounceInDown,tada;
	animation-duration:1s,1s;
	animation-timing-function: linear,linear;
	animation-delay:0s,1.5s;
	animation-fill-mode:forwards,forwards;
}
.page1 #title p{
	-webkit-animation: fadeIn 1s linear 1.5s forwards;
	-o-animation: fadeIn 1s linear 1.5s forwards;
	animation: fadeIn 1s linear 1.5s forwards;
}

.page1 #head_wrapper{
	-webkit-animation: bounceIn 1s linear 3.5s forwards;
	-o-animation: bounceIn 1s linear 3.5s forwards;
	animation: bounceIn 1s linear 3.5s forwards;
}

.page1 #motto{
	-webkit-animation: flips 1s linear 3.5s forwards;
	-o-animation: flips 1s linear 3.5s forwards;
	animation: flips 1s linear 3.5s forwards;
}


/*写第二屏样式*/
h2{
	font-size:0.5rem;
	color: #eee;
	margin-top:1rem;
	text-align: center;
	font-weight: normal;
}
.img_wrapper{
	width: 4.5rem;
	position: absolute;
	top: 2rem;
	left: 50%;
	margin-left:-2.25rem;

}

.img_wrapper img{
	width: 4.5rem;
}
#information{
	position:absolute;
	bottom: 1rem;
	font-size: 0.4rem;
	font-family:'Comic Sans MS', cursive ;
	color: #fff;
	margin-left: 0.3rem;
}
#information p{
	background:rgba(255,80,80,1);
	margin-bottom: 0.2rem;
	height: 0.7rem;
	line-height: 0.7rem;
	border-radius: 0.1rem 0.4rem 0.4rem 0.1rem;
	white-space:nowrap;
	overflow: hidden;
}
#information span{
	font-family: "微软雅黑";
	display: inline-block;
	width: 2rem;
	text-align:justify;
}

/*第三屏样式*/
#skills{
	position: absolute;
	width: 100%;
	bottom: 0.5rem;
	padding-left:0.5rem;
}
#skills>div{
	height: 0.9rem;
	width: 100%;
	overflow: hidden;
}
#skills>div>div{
	float:left;
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 1.5rem;
	line-height: 0.9rem;
	text-align: center;
	color:#fff;
	font-weight: bold;
	font-size: 0.1rem;
}
#skills>div:nth-of-type(odd)>div{
	background: url(../images/bg_skill1.png);
	background-size:cover;
}
#skills>div:nth-of-type(even)>div{
	background: url(../images/bg_skill2.png);
	background-size: cover;
}
#skills>div>span{
	float:left;
	background: #cc6600;
	border-radius: 0.1rem;
	width: 3.5rem;
	height: 0.5rem;
	margin-top:0.2rem;
	margin-left: 0.1rem;
}
#skills>div>p{
	height: 0.5rem;
	font-size: 0.5rem;
	float:left;
	margin-top: 0.1rem;
	margin-left: 0.1rem;
	color:green;
}

/*第四屏样式*/

.page4 .img_wrapper{
	background: #ffff99;
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;
	left: 50%;
	margin-left: -1.5rem;
	margin-top: 0;
	overflow: hidden;
}
.page4 .img_wrapper img{
	display: block;
	margin: 0 auto;
	width: 3rem;
	height: 3.8rem;
}
.coments_wrapper{
	width: 100%;
	height: 6rem;
	border: 2px solid red;
	position: absolute;
	bottom: 0;
}
.coments_wrapper div{
	box-sizing: border-box;
	display:absolute;
	font-size:0.4rem;
	text-align: center;
	padding:0.2rem;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 2rem;
	float:left;
	
}
#coments_1{
	color:#ff3300;
	background:#ffff33;
	padding-top:0.3rem;
}
#coments_2{
	color: #993300;
	background:#ff6666;
	padding-top:0.6rem;
}
#coments_3{
	color: #eee;
	background-color: #9900cc;
	padding-top:0.6rem;
}
#coments_4{
	color: #ffff00;
	background-color:#3333ff;
	padding-top: 0.35rem;
}




/*animation效果*/
@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
  	opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
  	opacity:1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes flips {
  from {
  	opacity: 0;
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
  	opacity: 1;
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@keyframes flips {
  from {
  	opacity: 0;
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
  	opacity: 1;
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}